/* Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap');

/* Fonts */
p{
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
}

a{
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-transform: lowercase;
    text-decoration: none;
    color: #333333;
}

a:hover{
    color: #E10244;
}


/* Navigation */
nav{
    display: flex;
}

nav ul{
    flex-wrap: nowrap;
}